.filters {
    width: 25%;
    background: $color-bg-block;
    border: 1px solid $color-primary;
    border-radius: 0.7rem;
    padding: .5%;
    height: -moz-fit-content;
    height: fit-content;
}
