.page404 {
   width: 100%;
   height: 85vh;
   display: grid;
   place-content: center;

   /* .page404__container */

   &__container {
      &__title {
         font-size: 200%;
         background: $color-bg-title;
         padding: 1rem;
         border: 2px solid $color-primary;
         border-radius: 1rem;

         text-transform: uppercase;
         white-space: nowrap;
      }
   }
}
