.header {
   //height: 10vh;
   width: 100%;
   background-color: #181a1c;
   color: orange;
   border-bottom: 2px solid orange;
   border-radius: 0 0 1.5rem 1.5rem;
   display: flex;
   align-items: center;
   padding: 0 20px;
   //overflow: hidden;
   justify-content: space-between;

   /* .header__title */
   &__title {
   }

   /* .header__sum */

   &__sum {
   }

   /* .header__cart */

   &__cart {
   }
}

.header-title {
   height: 100%;
   display: flex;
   align-items: center;
   cursor: pointer;
   /* .header-title__logo */

   &__logo {
      line-height: 100%;
      font-size: 400%;
      display: flex;
      align-items: center;
      text-shadow: 0 0 10px rgb(88 68 68), 0 0 5px red, 0 0 10px red, 0 0 15px red;
      padding-bottom: 5%;
   }

   /* .header-title__link */

   &__link {
   }

   /* .header-title__name */

   &__name {
      margin-left: 1rem;
      text-shadow: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px red;
      font-size: 160%;
   }
}
.header-sum {
   display: flex;
   gap: 3px;
   font-size: 1.2rem;
   /* .header-sum__text */

   &__text {
   }

   /* .header-sum__amount */

   &__amount {
      color: rgb(247, 234, 211);
   }
}
.header-cart {
   width: 5%;
   height: 80%;

   &__logo {
      width: 100%;
      height: 100%;
      cursor: pointer;

      background: url("../assets/cart.png") 0 0 / 100% 100% no-repeat;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
   }

   /* .header-cart__link */

   &__link {
      //display: inline-block;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__goods-amount {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      background-color: #181a1c;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
      border: 1px solid orange;
      font-size: 130%;
      border-radius: 50%;
   }
}
