.main {
    &__container {
        display: flex;
        padding: 2%;
        justify-content: space-between;
    }

    &__loading {
        display: none;
        &._active {
            display: block;
        }
    }
}
