<div class="main__container">
   <div class="breadcrumbs"></div>
   <div class="product__details">
      <div class="product__title"></div>
      <div class="product__data">
        <div class="product__slides"></div>
        <div class="product__photo">
           <img src="" alt="product" class="product__img">
        </div>
        <div class="product__options">
            <div class="product__option">
               <h3 class="product__option-title">Description:</h3>
               <p class="product__option-text"></p>
            </div>
            <div class="product__option">
               <h3 class="product__option-title">Discount Percentage:</h3>
               <p class="product__option-text"></p>
            </div>
            <div class="product__option">
               <h3 class="product__option-title">Rating:</h3>
               <p class="product__option-text"></p>
            </div>
            <div class="product__option">
               <h3 class="product__option-title">Stock:</h3>
               <p class="product__option-text"></p>
            </div>
            <div class="product__option">
               <h3 class="product__option-title">Brand:</h3>
               <p class="product__option-text"></p>
            </div>
            <div class="product__option">
               <h3 class="product__option-title">Category:</h3>
               <p class="product__option-text"></p>
            </div>
        </div>
        <div class="product__price-block">
            <p class="product__price"></p>
            <button class="btn btn__product-add">Add to cart</button>
            <button class="btn btn__product-buy">Buy now</button>
        </div>
      </div>
   </div>
</div>
