.footer {
   // min-height: 5vh;
   width: 100%;
   background-color: #181a1c;
   color: orange;
   border-top: 2px solid orange;
   border-radius: 1.5rem 1.5rem 0 0;
   // font-size: 70%;
   justify-content: space-between;
   display: flex;
   align-items: center;
   padding: 0 20px;
   /* .footer_logo-ghlink */

   &_logo-ghlink {
   }

   /* .footer__github-container */

   &__github-container {
      display: flex;
      gap: 10px;

      font-size: 2rem;
      padding: 3px 0;
   }

   /* .footer__text */

   &__text {
      font-size: 1.5rem;
   }

   /* .footer__rsschool-container */

   &__rsschool-container {
      background-color: #ffffff;
   }
}
.github-container {
   /* .github-container__logo1 */

   &__logo1 {
   }

   /* .github-container__logo2 */

   &__logo2 {
   }
}

.rsschool-container {
   width: 5%;
   height: 50%;
   border-radius: 5px;
   background-color: orange;

   &__link {
      width: 100%;
      height: 100%;

      border-radius: 5px;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
